<footer>
    <div class="secao">
        <h3>Contato</h3>
        <div class="contato">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5567991255821"><img ngSrc="whatsapp.avif" alt="whatsapp" height="30" width="30"></a>
            <p>(67) 99125-5821</p>
        </div>
        <div class="contato">
            <img ngSrc="telefone.avif" alt="telefone" height="35" width="35">
            <p>(67) 99125-5821</p>
        </div>
        <div class="contato">
            <a target="_blank" href="https://www.instagram.com/tech_dias_/"><img ngSrc="insta.avif" alt="instagram" height="30" width="30"></a>
            <p>tech_dias_</p>
        </div>
    </div>

    <div class="secao horario">
        <h3>Horários</h3>
        <p>Seg. à Quinta 18h às 23h</p>
        <p>Sex, Sáb, Dom e Feriados 18h às 00h</p>
    </div>

    <div class="secao">
        <h3>Endereço</h3>
        <p>Av. Afonso Pena, 4909 - Santa Fe, Campo Grande - MS, 79031-900</p>
    </div>
</footer>