<app-carrossel></app-carrossel>

<div class="cardapio">
    <h1>Cardápio</h1>

    <div class="secoes">
        <div class="secao">
            <a href="/hamburguer">
                <img class="img" ngSrc="secaohamburguer.avif" alt="hamburguer" width="100" height="100">
                <img class="img1" ngSrc="secaohamburguer1.avif" alt="hamburguer" width="100" height="100">
                <h3>Hambúrgueres</h3>
            </a>
        </div>
    
        <div class="secao">
            <a href="/pizza">
                <img class="img" ngSrc="secaopizza.avif" alt="pizza" width="100" height="100">
                <img class="img1" ngSrc="secaopizza1.avif" alt="pizza" width="100" height="100">
                <h3>Pizzas</h3>
            </a>
        </div>
    
        <div class="secao">
            <a href="/bebida">
                <img class="img" ngSrc="secaobebida.avif" alt="secao" width="100" height="100">
                <img class="img1" ngSrc="secaobebida1.avif" alt="secao" width="100" height="100">
                <h3>Bebidas</h3>
            </a>
        </div>
    
        <div class="secao">
            <a href="/porcao">
                <img class="img" ngSrc="secaoporcao.avif" alt="porcao" width="100" height="100">
                <img class="img1" ngSrc="secaoporcao1.avif" alt="porcao" width="100" height="100">
                <h3>Porções</h3>
            </a>
        </div>
    </div>
</div>

<app-whatsapp></app-whatsapp>

<app-carrinho></app-carrinho>